body {
  background-color: $color-background;
  color: $color-text;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
}

header {
  grid-column: 2 / 4;
}

nav {
  grid-column: 1 / 2;
}

#main {
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile {
  grid-column: 2 / 3;
}

#styles {
  grid-column: 3 / 4;
}

@media only screen and (max-width: 600px) {
  body {
    display: inline;

  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  body {
    display: inline;
  }
}