body {
  background-color:$color-background;
  color: $color-text;
  display:grid;
  grid-template-columns: 1fr 8fr;
}
#main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 600px) {
body {
  display:grid;
  grid-template-columns: 1fr;
}
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
body {
  display:grid;
  grid-template-columns: 1fr;
}
}
