$color-yellow: #FFDE59 !default;
$color-blue-1: #38B6FF !default;
$color-blue-2: #00cac8 !default;
$color-purple: #512B8F !default;
$color-white: #f6f6f6 !default;
$color-pink: #FF22AD !default;
$color-background: #00114B !default;
