:root {
    --main-font: "Open Sans", sans-serif;
    --accent-font: "Wire One", sans-serif;
}

h1,
h2 {
    font-family: var(--main-font);
    font-weight: bold;
    text-transform: uppercase;
}

header div h2 {
    font-family: var(--accent-font);
}