:root {
    --main-font: "Open Sans", sans-serif;
    --accent-font: "Wire One", sans-serif;
}

h1,
h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}