@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Wire+One&display=swap");
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --main-font: "Open Sans", sans-serif;
  --accent-font: "Wire One", sans-serif;
}

a:nth-of-type(1) {
  font-family: var(--accent-font);
}

h1,
h2,
h4 {
  font-family: var(--main-font);
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-family: var(--accent-font);
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

a {
  color: white;
}

p {
  font-family: var(--main-font);
}

li {
  font-family: var(--accent-font);
}

header div h2,
header div p,
header div a {
  font-family: var(--accent-font);
  text-transform: none;
  text-decoration: none;
}

.container:nth-of-type(2) p:nth-of-type(2) {
  font-family: var(--accent-font);
}

.link-guidelines {
  font-family: var(--accent-font);
  text-decoration: none;
}

ol li {
  font-family: var(--main-font);
}

#contribute #files div {
  font-family: var(--accent-font);
}

.profile-author,
.profile-twitter,
.profile-website {
  font-family: var(--main-font);
}

.profile div a:nth-last-of-type(1),
.link-allstyles {
  font-family: var(--accent-font);
  text-decoration: none;
}

.page-footer div p:nth-oftype(1) {
  text-transform: uppercase;
}

body {
  background-color: #00114B;
  color: #f6f6f6;
  display: grid;
  grid-template-columns: 1fr 8fr;
}

@media only screen and (max-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
  }
}
header {
  z-index: 0;
  padding: 20px;
  text-align: center;
  background-color: #00114B;
  position: relative;
  height: 600px;
}
header .container {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}
header::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 140px solid transparent;
  border-right: 230px solid transparent;
  border-bottom: 280px solid #512B8F;
  top: 40px;
  left: 425px;
  transform: rotate(-25deg);
  z-index: -1;
  animation: spin 4s infinite linear, bounce 2s infinite alternate;
}
header h1 {
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  color: transparent;
  left: 400px;
}
header h1::after {
  content: "STYLE";
  color: #FFDE59;
  text-shadow: 2px 2px 0 #f2c200;
  position: absolute;
  top: 75px;
  left: 75px;
  transform: rotate(5deg);
  font-size: 6rem;
  animation: neonGlow 1s infinite alternate, slideInStyle 1s ease-in-out forwards;
}
header h1::before {
  content: "STAGE";
  color: #FF22AD;
  text-shadow: 2px 2px 0 #bb0076;
  position: absolute;
  top: 175px;
  left: 120px;
  transform: rotate(-5deg);
  font-size: 6rem;
  animation: neonGlowPink 1s infinite alternate, slideInStage 1s ease-in-out forwards;
}
header h2 {
  position: absolute;
  display: inline-block;
  text-align: right;
  padding: 15px;
  line-height: 1.5;
  /* Adjust line-height to control the space between lines */
  width: 150px;
  /* Set a width to control where the text wraps */
  word-wrap: break-word;
  /* Ensure the text wraps within the width */
  font-size: 1.5rem;
  color: #f6f6f6;
  text-shadow: 1px 1px 0 #aaaaaa;
  top: 125px;
  left: 800px;
  animation: swing 3s infinite ease-in-out;
  z-index: -1;
}
header h2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  /* Adjust this value to control padding around the text */
  width: 100%;
  height: 100%;
  background-color: #38B6FF;
  z-index: -2;
  /* Ensure the box is behind the text */
  animation: colorChange 5s infinite alternate;
}
header p {
  top: 400px;
  left: 500px;
  position: absolute;
  font-size: 1.5rem;
  margin-bottom: 20px;
  animation: wobble 2s infinite ease-in-out, colorChange 3s infinite alternate;
}
header .link-github {
  position: absolute;
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFDE59;
  color: #00114B;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  top: 350px;
  left: 850px;
  animation: shake 0.5s infinite alternate, pulse 1.5s infinite ease-in-out;
}
header .link-github svg {
  fill: #00114B;
}
@keyframes spin {
  from {
    transform: rotate(-25deg);
  }
  to {
    transform: rotate(335deg);
  }
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes bounce {
  0% {
    top: 40px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 40px;
  }
}
@keyframes neonGlow {
  0% {
    text-shadow: 2px 2px 0 #f2c200;
  }
  50% {
    text-shadow: 2px 2px 8px white;
  }
  100% {
    text-shadow: 2px 2px 0 #f2c200;
  }
}
@keyframes neonGlowPink {
  0% {
    text-shadow: 2px 2px 0 #bb0076;
  }
  50% {
    text-shadow: 2px 2px 8px #ffeef9;
  }
  100% {
    text-shadow: 2px 2px 0 #bb0076;
  }
}
@keyframes slideInStyle {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0%);
    transform: rotate(5deg);
  }
}
@keyframes slideInStage {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
    transform: rotate(-5deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes colorChange {
  0% {
    background-color: #38B6FF;
  }
  50% {
    background-color: #00cac8;
  }
  100% {
    background-color: #38B6FF;
  }
}
@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
header .link-github:hover {
  background-color: #ffd426;
}

@media only screen and (max-width: 600px) {
  header::before {
    top: 40px;
    left: -5px;
  }
  header h1 {
    left: -25px;
  }
  header h1::after {
    top: 75px;
    left: 75px;
    animation: neonGlow 1s infinite alternate, moveUpDown 5s infinite alternate;
  }
  header h1::before {
    top: 175px;
    left: 120px;
    animation: neonGlowPink 1s infinite alternate, moveUpDown 5s infinite alternate;
  }
  header h2 {
    top: 400px;
    left: 270px;
  }
  header p {
    top: 325px;
    left: 100px;
    transform: rotate(-27deg);
    z-index: -1;
  }
  header .link-github {
    top: 460px;
    left: 75px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  header::before {
    top: 40px;
    left: 95px;
  }
  header h1 {
    left: 75px;
  }
  header h1::after {
    top: 75px;
    left: 75px;
    animation: neonGlow 1s infinite alternate, moveUpDown 5s infinite alternate;
  }
  header h1::before {
    top: 175px;
    left: 120px;
    animation: neonGlowPink 1s infinite alternate, moveUpDown 5s infinite alternate;
  }
  header h2 {
    top: 130px;
    left: 500px;
  }
  header p {
    top: 425px;
    left: 175px;
  }
  header .link-github {
    top: 375px;
    left: 525px;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  header::before {
    top: 40px;
    left: 95px;
  }
  header h1 {
    left: 75px;
  }
  header h1::after {
    top: 75px;
    left: 75px;
  }
  header h1::before {
    top: 175px;
    left: 120px;
  }
  header h2 {
    top: 130px;
    left: 500px;
  }
  header p {
    top: 425px;
    left: 175px;
  }
  header .link-github {
    top: 375px;
    left: 525px;
  }
}
nav ul {
  background-color: #FFDE59;
  position: fixed;
  top: 50px;
  left: 0px;
  transform: rotate(-5deg);
  padding: 28px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 2em;
}

nav ul li a {
  color: #00114B;
  font-weight: bold;
  text-decoration: none;
}

nav ul:hover {
  background-color: #ffd426;
}

nav ul li a:hover {
  color: #f6f6f6;
}

@media only screen and (max-width: 900px) {
  nav {
    position: relative;
  }

  nav ul {
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    transform: none;
    display: flex;
    font-size: 1.75em;
  }

  nav ul li {
    flex: 1 1 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 1300px) {
  nav ul {
    padding: 20px;
  }
}
#about .container:nth-child(1),
#about .container:nth-child(2) {
  border: 0.25em solid #FF22AD;
  border-radius: 1.5em;
  padding: 1em;
  margin: 1em;
  margin-bottom: 8em;
  max-width: 1200px;
}

#about .container:nth-child(1) h2 {
  background: #FF22AD;
  margin-top: -3em;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 10px 20px;
  clip-path: polygon(30% 0, 70% 0, 75% 100%, 25% 100%);
}

#about .container:nth-child(2) {
  border-color: #FFDE59;
}

#about .container:nth-child(2) h2 {
  background: #FFDE59;
  color: #00114B;
  margin-top: -3em;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 10px 20px;
  clip-path: polygon(20% 0, 80% 0, 85% 100%, 15% 100%);
}

#about .container:nth-child(2) p:nth-child(3) {
  background-color: #FF22AD;
  width: 100%;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  clip-path: polygon(30% 0, 70% 0, 70% 100%, 30% 100%);
}

#about .container:nth-child(2) ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 1em 0;
  font-weight: bold;
}

#about .container:nth-child(2) ul li {
  background-color: #38B6FF;
  padding: 0.25em 5em;
  margin: 0.25em;
  text-align: center;
  border-radius: 5px;
  color: #f6f6f6;
  font-size: larger;
}

#about .container:nth-child(2) ul li:hover {
  background-color: #00cac8;
  animation: wiggle 0.5s;
}

@keyframes wiggle {
  0% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media only screen and (max-width: 900px) {
  #about .container:nth-child(2) p:nth-child(3) {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    text-align: left;
    padding: 0.25em;
    margin: 0;
  }

  #about .container:nth-child(1) h2 {
    clip-path: polygon(25% 0, 75% 0, 80% 100%, 20% 100%);
  }

  #about .container:nth-child(2) h2 {
    clip-path: polygon(10% 0, 90% 0, 95% 100%, 5% 100%);
  }
}
@media only screen and (max-width: 600px) {
  #about .container:nth-child(2) h2 {
    margin-top: -4.5em;
  }

  #about .container:nth-child(2) ul li {
    padding: 0.25em 1em;
  }
}
