@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Wire+One&display=swap");
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --main-font: "Open Sans", sans-serif;
  --accent-font: "Wire One", sans-serif;
}

a:nth-of-type(1) {
  font-family: var(--accent-font);
}

h1,
h2,
h4 {
  font-family: var(--main-font);
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-family: var(--accent-font);
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

a {
  color: white;
}

p {
  font-family: var(--main-font);
}

li {
  font-family: var(--accent-font);
}

header div h2,
header div p,
header div a {
  font-family: var(--accent-font);
  text-transform: none;
  text-decoration: none;
}

.container:nth-of-type(2) p:nth-of-type(2) {
  font-family: var(--accent-font);
}

.link-guidelines {
  font-family: var(--accent-font);
  text-decoration: none;
}

ol li {
  font-family: var(--main-font);
}

#contribute #files div {
  font-family: var(--accent-font);
}

.profile-author,
.profile-twitter,
.profile-website {
  font-family: var(--main-font);
}

.profile div a:nth-last-of-type(1),
.link-allstyles {
  font-family: var(--accent-font);
  text-decoration: none;
}

.page-footer div p:nth-oftype(1) {
  text-transform: uppercase;
}

body {
  background-color: #00114B;
  color: #f6f6f6;
}

header {
  z-index: 0;
  padding: 20px;
  text-align: center;
  background-color: #00114B;
  position: relative;
}
header .container {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}
header::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 180px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 280px solid #512B8F;
  top: -60px;
  left: 45%;
  transform: translateX(-50%) rotate(-25deg);
  z-index: -1;
}
header h1 {
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  color: transparent;
}
header h1::after {
  content: "STYLE";
  color: #FFDE59;
  text-shadow: 2px 2px 0 #f2c200;
  position: absolute;
  top: 10px;
  left: 0px;
  transform: rotate(10deg);
  font-size: 4rem;
}
header h1::before {
  content: "STAGE";
  color: #FF22AD;
  text-shadow: 2px 2px 0 #bb0076;
  position: absolute;
  top: 80px;
  left: 30px;
  transform: rotate(-10deg);
  font-size: 4rem;
}
header h2 {
  position: absolute;
  margin-left: auto;
  display: inline-block;
  width: calc(100% - 900px);
  font-size: 1.5rem;
  color: #00cac8;
  text-shadow: 1px 1px 0 #003131;
  margin-bottom: 20px;
}
header p {
  font-size: 1rem;
  margin-bottom: 20px;
}
header .link-github {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFDE59;
  color: #00114B;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
header .link-github svg {
  margin-right: 10px;
  fill: #00114B;
}
header .link-github:hover {
  background-color: #ffd426;
}
