#about .container:nth-child(1),
#about .container:nth-child(2) {
    border: .25em solid $color-pink;
    border-radius: 1.5em;
    padding: 1em;
    margin: 1em;
    margin-bottom: 8em;
    max-width: 1200px;
}

#about .container:nth-child(1) h2 {
    background: $color-pink;
    margin-top: -3em;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 10px 20px;
    clip-path: polygon(38% 0, 62% 0, 65% 100%, 35% 100%);
}

#about .container:nth-child(2) {
    border-color: $color-yellow;
}

#about .container:nth-child(2) h2 {
    background: $color-yellow;
    color: $color-background;
    margin-top: -3em;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 10px 20px;
    clip-path: polygon(28% 0, 72% 0, 75% 100%, 25% 100%);
}

#about .container:nth-child(2) p:nth-child(3) {
    background-color: $color-pink;
    width: 100%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    clip-path: polygon(30% 0, 70% 0, 70% 100%, 30% 100%);
}

#about .container:nth-child(2) ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 1em 0;
    font-weight: bold;
}

#about .container:nth-child(2) ul li {
    background-color: $color-blue-1;
    padding: .25em 5em;
    margin: .25em;
    text-align: center;
    border-radius: 5px;
    color: $color-text;
    font-size: larger;
}

#about .container:nth-child(2) ul li:hover {
    background-color: $color-blue-2;
    animation: wiggle 0.5s;
}

@keyframes wiggle {
    0% {
        transform: rotate(5deg);
    }

    20% {
        transform: rotate(-5deg);
    }

    40% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-2deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@media only screen and (max-width: 900px) {
    #about .container:nth-child(2) p:nth-child(3) {
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
        text-align: left;
        padding: .25em;
        position: absolute;
        margin: 0 0 0 0;
    }

    #about .container:nth-child(1) h2 {
        clip-path: polygon(25% 0, 75% 0, 80% 100%, 20% 100%);
    }

    #about .container:nth-child(2) h2 {
        clip-path: polygon(10% 0, 90% 0, 95% 100%, 5% 100%);
    }

    #about .container:nth-child(2) ul {
        margin-top: 5em;
    }
}