$container-padding: 20px;
header {
  z-index: 0;
    padding: $container-padding;
    text-align: center;
    background-color: $color-background;
    position: relative; // Make the header relative for absolute positioning within it
    height: 600px;
    .container {
      max-width: 1200px;
      margin: 0 auto;
      align-items: center;
    }

    
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 140px solid transparent;
      border-right: 230px solid transparent;
      border-bottom: 280px solid $color-purple;
      top: 40px;
      left: 425px;
      transform: rotate(-25deg);
      z-index: -1; // Place behind the text
      animation: spin 4s infinite linear, bounce 2s infinite alternate;
    }
    
    h1 {
      font-size: 3rem;
      font-weight: bold;
      position: absolute;
      color: transparent; // Hide the original text
      left: 400px;
    
      // Style for "STYLE"
      &::after {
        content: "STYLE";
        color: $color-yellow;
        text-shadow: 2px 2px 0 darken($color-yellow, 20%);
        position: absolute;
        top: 75px;
        left: 75px;
        transform: rotate(5deg);
        font-size: 6rem;
        animation: neonGlow 1s infinite alternate, slideInStyle 1s ease-in-out forwards; // Change here
      }
    
      // Another pseudo-element for "STAGE"
      &::before {
        content: "STAGE";
        color: $color-pink;
        text-shadow: 2px 2px 0 darken($color-pink, 20%);
        position: absolute;
        top: 175px;
        left: 120px;
        transform: rotate(-5deg);
        font-size: 6rem; // Adjust the font size
        animation: neonGlowPink 1s infinite alternate, slideInStage 1s ease-in-out forwards;
      }
    }
    
    h2 {
      position: absolute;
      display: inline-block;
      text-align: right;
      padding: 15px;
      line-height: 1.5; /* Adjust line-height to control the space between lines */
      width: 150px; /* Set a width to control where the text wraps */
      word-wrap: break-word; /* Ensure the text wraps within the width */
      font-size: 1.5rem;
      color: $color-text;
      text-shadow: 1px 1px 0 darken($color-text, 30%);
      top: 125px;
      left: 800px;
      animation: swing 3s infinite ease-in-out;
      z-index: -1;
    }
    
    h2::before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px; /* Adjust this value to control padding around the text */
      width: 100%;
      height: 100%;
      background-color: $color-blue-1;
      z-index: -2; /* Ensure the box is behind the text */
      animation: colorChange 5s infinite alternate;
    }
    
    p {
      top: 400px;
      left: 500px;
      position: absolute;
      font-size: 1.5rem;
      margin-bottom: 20px;
      animation: wobble 2s infinite ease-in-out, colorChange 3s infinite alternate;
    }
    
    .link-github {
      position: absolute;
      display: inline-block;
      padding: 10px 20px;
      background-color: $color-yellow;
      color: $color-background;
      border-radius: 5px;
      font-weight: bold;
      text-transform: uppercase;
      top: 350px;
      left: 850px;
      animation: shake 0.5s infinite alternate, pulse 1.5s infinite ease-in-out;
    
      svg {
        fill: $color-background;
      }
    }
    
    // Keyframes for animations
    @keyframes spin {
      from {
        transform: rotate(-25deg);
      }
      to {
        transform: rotate(335deg);
      }
    }
    @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
    
    @keyframes bounce {
      0% {
        top: 40px;
      }
      50% {
        top: 30px;
      }
      100% {
        top: 40px;
      }
    }
    
    @keyframes neonGlow {
      0% {
        text-shadow: 2px 2px 0 darken($color-yellow, 20%);
      }
      50% {
        text-shadow: 2px 2px 8px lighten($color-yellow, 40%);
      }
      100% {
        text-shadow: 2px 2px 0 darken($color-yellow, 20%);
      }
    }

    @keyframes neonGlowPink {
      0% {
        text-shadow: 2px 2px 0 darken($color-pink, 20%);
      }
      50% {
        text-shadow: 2px 2px 8px lighten($color-pink, 40%);
      }
      100% {
        text-shadow: 2px 2px 0 darken($color-pink, 20%);
      }
    }
    
    @keyframes slideInStyle {
      0% {
        transform: translateX(-500%);
      }
      100% {
        transform: translateX(0%);
        transform: rotate(5deg);
      }
    }
    @keyframes slideInStage {
      0% {
        transform: translateX(-200%);
      }
      100% {
        transform: translateX(0%);
        transform: rotate(-5deg);
      }
    }

    
    @keyframes swing {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(15deg);
      }
      50% {
        transform: rotate(-10deg);
      }
      75% {
        transform: rotate(5deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
    
    @keyframes colorChange {
      0% {
        background-color: $color-blue-1;
      }
      50% {
        background-color: $color-blue-2;
      }
      100% {
        background-color: $color-blue-1;
      }
    }
    
    @keyframes wobble {
      0% {
        transform: translateX(0%);
      }
      25% {
        transform: translateX(-10%);
      }
      50% {
        transform: translateX(10%);
      }
      75% {
        transform: translateX(-5%);
      }
      100% {
        transform: translateX(0%);
      }
    }
    
    @keyframes shake {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(-5deg);
      }
      50% {
        transform: rotate(5deg);
      }
      75% {
        transform: rotate(-5deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
    
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
    
    .link-github:hover {
      background-color: darken($color-yellow, 10%);
    }
  }
  @media only screen and (max-width: 600px) {
    header {
        // Purple triangle background
        &::before {
            top: 40px;
            left: -5px;
        }
      
        h1 {
          left: -25px;
      
          // Style for "STYLE"
          &::after {
            top: 75px;
            left: 75px;
            animation: neonGlow 1s infinite alternate,moveUpDown 5s infinite alternate;
          }
    
          // Another pseudo-element for "STAGE"
          &::before {
            top: 175px;
            left: 120px;
            animation: neonGlowPink 1s infinite alternate,moveUpDown 5s infinite alternate;
          }
        }
      
        h2 {
          top:400px;
          left:270px;
        }
  
      
        p {
          top: 325px;
          left: 100px;
          transform: rotate(-27deg);
          z-index: -1;
        }
      
        .link-github {
          top:460px;
          left: 75px;
        }
      }
  }
  
  
  
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    header {
      // Purple triangle background
      &::before {
          top: 40px;
          left: 95px;
      }
    
      h1 {
        left: 75px;
    
        // Style for "STYLE"
        &::after {
          top: 75px;
          left: 75px;
          animation: neonGlow 1s infinite alternate,moveUpDown 5s infinite alternate;
        }
  
        // Another pseudo-element for "STAGE"
        &::before {
          top: 175px;
          left: 120px;
          animation: neonGlowPink 1s infinite alternate,moveUpDown 5s infinite alternate;
        }
      }
    
      h2 {
        top:130px;
        left:500px;
      }

    
      p {
        top: 425px;
        left: 175px;
      }
    
      .link-github {
        top:375px;
        left: 525px;
      }
    }
  }
  @media only screen and (min-width: 901px) and (max-width: 1200px) {
    header {
      // Purple triangle background
      &::before {
          top: 40px;
          left: 95px;
      }
    
      h1 {
        left: 75px;
    
        // Style for "STYLE"
        &::after {
          top: 75px;
          left: 75px;
        }
  
        // Another pseudo-element for "STAGE"
        &::before {
          top: 175px;
          left: 120px;
        }
      }
    
      h2 {
        top:130px;
        left:500px;
      }

    
      p {
        top: 425px;
        left: 175px;
      }
    
      .link-github {
        top:375px;
        left: 525px;
      }
    }
  }
