.profile .container {
    position: relative;
    padding: 1em;
    margin: 1em;
    margin-bottom: 8em;
    max-width: 600px;
}

h4 {
    background: $color-blue-2;
    width: 200px;
    text-align: center;
    position: relative;
    padding: 10px 30px;
    clip-path: polygon(15% 0, 85% 0, 90% 100%, 10% 100%);
    transform: translateX(50px) rotate(-10deg);
}

.profile-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-pink;
    width: 200px;
    height: 200px;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
    transform: translateY(-10px) rotate(15deg);
}

.profile-title span {
    font-weight: bold;
    text-transform: uppercase;
    transform: translateX(-20px);
}

.profile-author {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-yellow;
    color: $color-background;
    width: 200px;
    height: 200px;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
    transform: translateY(-10px) rotate(15deg);
}

.profile-twitter span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #6ecff6;
    padding: 10px;
    transform: rotate(-5deg);
    font-size: 14px;
    transform-origin: left bottom;
}

.profile-website {
    list-style: none;
}

.profile-twitter {
    display: none;
}

.profile-website span {
    display: none;
}