.profile {
    display: flex;
    justify-content: center;
}

.profile .container {
    position: relative;
    padding: 1em;
    margin: 1em;
    margin-top: -3em;
    margin-bottom: 8em;
    max-width: 600px;
    max-height: 400px;
}

h4 {
    background: $color-blue-2;
    width: 200px;
    text-align: center;
    position: relative;
    padding: 5px 40px;
    clip-path: polygon(15% 0, 85% 0, 90% 100%, 10% 100%);
    transform: translateX(75px) translateY(15px) rotate(-10deg);
}

.profile-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-pink;
    width: 200px;
    height: 200px;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
    transform: translateY(-10px) rotate(15deg);
}

.profile-title span {
    font-weight: bold;
    font-size: 1.75em;
    text-transform: uppercase;
    transform: translateX(-20px);
}

.profile-title span:nth-child(1) {
    padding-right: .15em;
}

.profile-author {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background-color: $color-yellow;
    color: $color-background;
    width: 200px;
    height: 200px;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
    transform: translateY(-110px) rotate(-15deg);
    z-index: -1;
}

.profile-author span {
    text-align: right;
    line-height: 95%;
    padding: 0 .5em 0 1em;
    transform: translateY(-2px);
}

.profile-website {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-blue-1;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-225px) translateX(45px) rotate(11.5deg);
    z-index: -2;
}

.profile-website span:nth-child(1) {
    transform: translateY(35px);
}

.profile-website span:nth-child(2) {
    font-size: 2.75em;
    transform: translateY(20px);
}

.profile-twitter {
    display: none;
}

.profile .container>a {
    position: relative;
    display: block;
    padding: 10px 10px;
    border: 2px solid $color-yellow;
    border-radius: 10px;
    text-decoration: none;
    left: 75%;
    transform: translateY(-500px) rotate(-90deg);
    font-size: 2rem;
    text-align: center;
    font-size: 2.25em;
}

.profile .container>a:hover {
    background-color: darken($color-yellow, 10%);
    color: $color-background;
    font-weight: bolder;
}