#styles .container {
    position: relative;
    border: .25em solid $color-blue-2;
    border-radius: 1.5em;
    padding: 1em;
    margin: 1em;
    margin-bottom: 8em;
    max-width: 600px;
}

#styles .container::before {
    content: '';
    position: absolute;
    top: -0.15em;
    left: -0.5em;
    right: -0.15em;
    bottom: -0.5em;
    border: .25em solid $color-blue-1;
    border-radius: 1.5em;
    z-index: -1;
}

#styles .container h2 {
    background: $color-blue-2;
    margin-top: -3em;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 10px 20px;
    clip-path: polygon(15% 0, 85% 0, 90% 100%, 10% 100%);
}

#styles .container ul li {
    font-size: 2em;
}

.link-allstyles {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid $color-yellow;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}

.link-allstyles:hover {
    background-color: darken($color-yellow, 10%);
    color: $color-background;
    font-weight: bolder;
}

@media only screen and (max-width: 900px) {
    #styles .container h4 {
        clip-path: polygon(25% 0, 75% 0, 80% 100%, 20% 100%);

    }

}